<nav class="navbar navbar-default">
    <div class="countainer">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Livro de receitas</a>
        </div>
        <div class="navbar-default">
            <ul class="nav navbar-nav">
                <li><a href="#">Receitas</a></li>
                <li><a href="#">Loja</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" role="button">Opções <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Salvar informações</a></li>
                        <li><a href="#">Buscar dados</a></li>
                     </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>