<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <img 
            routerLinkActive="active"
            routerLink="/"
            class="pull-left" 
            src="https://www.logo.wine/a/logo/McDonald's/McDonald's-Logo.wine.svg" 
            alt="Logo" 
            style="max-height: 50px; cursor: pointer;">
            <a routerLink="/" 
            style="cursor: pointer;" 
            class="navbar-brand">MacCardápio online</a>
        </div>
        <div class="navbar-default">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active" ><a routerLink="/recipes">Mais pedidos</a></li>
                <li routerLinkActive="active" ><a routerLink="/shopping-list">Monte o seu</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" appDropdown>
                    <a style="cursor: pointer;" class="dropdown-toggle" role="button">Opções <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a style="cursor: pointer;">Salvar informações</a></li>
                        <li><a style="cursor: pointer;">Buscar dados</a></li>
                     </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>