<div class="row">
    <div class="col-xs-12">
        <img [src]="recipe.imagesPath" alt="{{recipe.name}}" class="img-responsive" style="max-height: 300px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{ recipe.name }} <h6> ± {{recipe.kcal}}</h6> </h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group"
        appDropdown>
            <button type="button" 
            class="btn btn-primary dropdown-toggle">
                Verificar opções <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a (click)="onAddToShoppingList(recipe.ingredients)" style="cursor: pointer;">Adicionar ingredientes do seu {{recipe.name}} a lista de compras!</a></li>
                <li><a (click)="onEditRecipe()" style="cursor: pointer;">Editar Receita</a></li>
                <li><a style="cursor: pointer;">Deletar sugestão</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- <div class="row">
    <div class="col-xs-12">
        <hr>
        {{recipe.description}}
    </div>
</div> -->
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item"
            *ngFor="let ingredient of recipe.ingredients">
             {{ingredient.name}} - {{ingredient.amount}}
             </li>
        </ul>
    </div>
</div>