<div class="row">
    <div class="col-xs-12.col-sm-10.col-md-8 col-sm-offset-1 col-md-offset-2" >
        <h4> Bem-vindo! <small class="text-muted">Realize seu cadastro.</small> </h4>
        <hr>
        <form (ngSubmit)="onSignUp(f)" #f="ngForm">
          <div class="form-group">
                <label for="name">Nome</label>
                <input placeholder="Insira seu nome" type="text" id="name" name="name" ngModel class="form-control" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input placeholder="Insira seu email" type="email" id="email" name="email" ngModel class="form-control" required>
            </div>
            <div class="form-group">
                <label for="password">Senha</label>
                <input placeholder="Mínimo de 6 caracteres" type="password" id="password" name="password"
                ngModel minlength="6" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="uid">Nome de usuário</label>
              <input placeholder="Digite seu usuário" type="string" id="uid" name="uid" ngModel class="form-control" required>
          </div>
            <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Registrar-se</button>
            <hr>
            <h4>
              Já possui uma conta?
              <button routerLink="/signin"
              class="btn btn-success"
              type="button"
              style="border-radius: 50px;">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
              </svg>
              Entrar
            </button>
          </h4>
        </form>
    </div>
</div>
