<div class="row">
    <div class="col-xs-12.col-sm-10.col-md-8 col-sm-offset-1 col-md-offset-2" >
        <h4> Bem-vindo! <small class="text-muted">Realize seu cadastro.</small> </h4>
        <hr>
        <form (ngSubmit)="onSignUp(f)" #f="ngForm">
          <div class="form-group">
                <label for="name">Nome</label>
                <input placeholder="Insira seu nome" type="text" id="name" name="name" ngModel class="form-control" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input placeholder="Insira seu email" type="email" id="email" name="email" ngModel class="form-control" required>
            </div>
            <div class="form-group">
                <label for="password">Senha</label>
                <input placeholder="Mínimo de 6 caracteres" type="password" id="password" name="password"
                ngModel minlength="6" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="uid">Nome de usuário</label>
              <input placeholder="Digite seu usuário" type="string" id="uid" name="uid" ngModel class="form-control" required>
          </div>
            <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Registrar-se</button>
        </form>
    </div>
</div>
